In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\anike\Downloads\customer_shopping_behavior.csv")

df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

df.describe()

In [16]:
data.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [18]:
# Fill the NaN value in the [Review Rating]  by the median for each category in dataframe.
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))

In [21]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [27]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ' , '_')
df = df.rename(columns={ 'purchase_amount_(usd)': 'purchase_amount'})

In [28]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [38]:
# create a column age_group
labels = ['Young Adult','Adult','middie-aged','Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [36]:
df[['age','age_group']].head(10)

   age    age_group
0   55  middie-aged
1   19  Young Adult
2   50  middie-aged
3   21  Young Adult
4   45  middie-aged
5   46  middie-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  middie-aged

In [42]:
df[['frequency_of_purchases']].head(20)

   frequency_of_purchases
0             Fortnightly
1             Fortnightly
2                  Weekly
3                  Weekly
4                Annually
5                  Weekly
6               Quarterly
7                  Weekly
8                Annually
9               Quarterly
10              Bi-Weekly
11            Fortnightly
12            Fortnightly
13                 Weekly
14                 Weekly
15                Monthly
16              Bi-Weekly
17              Quarterly
18                 Weekly
19              Bi-Weekly

In [49]:
# create column purchase_frequancy_days

frequency_mapping = {
    'Fortnightly': 14,
	'Weekly': 7,
	'Monthly': 30,
    'Quarterly': 90,
	'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90	
}

df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [50]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [51]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [52]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [53]:
df = df.drop('promo_code_used' , axis=1)

In [54]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [55]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\anike\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anike\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anike\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 2.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.7 MB 3.3 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 3.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# There are two ways to connet the jupyterlab with SQL.
# 1 Method
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

url = URL.create(
    drivername="postgresql+psycopg2",
    username="postgres",
    password="Aniket@2000",
    host="localhost",
    port=5432,
    database="customer_behavior"
)

engine = create_engine(url)

df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)

print("Data successfully loaded into PostgreSQL")

Data successfully loaded into PostgreSQL

In [ ]:
# 2 method
from sqlalchemy import create_engine

username = "postgres"
password = "Aniket%402000"   # @ replaced with %40
host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)

print("Data successfully loaded into PostgreSQL")

Data successfully loaded into PostgreSQL